<div class="row entity-listing-header">
    <div class="col-md-3">
        Total groups: <strong>{{groups.length}}</strong>
    </div>
    <div class="col-md-3 pull-right">
        <input class="form-control" placeholder="Filter Criteria..." ng-model="searchText"
               ng-model-options="{ debounce: 100 }">
    </div>
</div>
<div class="entity-listing">
    <pre ng-show="groups.length == 0">There are no any groups.</pre>
    <div class="row entity-row" ng-repeat="group in groups | filter:searchText">
        <div class="col-md-5">
            <div class="entity-title">
                <i class="fa fa-group"></i>
                <a href="/groups/{{group.name}}/settings">{{group.title}}</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="entity-title">
                {{group.name}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <button class="btn btn-sm btn-danger" ng-click="remove(group.name)"
                        ng-disabled="deleting">Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row pagination-panel" ng-show="numPages > 1">
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize"
                    class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                    ng-change="pageChanged()"/>
        <span class="pull-right">Page: {{currentPage}} / {{numPages}}</span>
    </div>
</div>