<form class="form-horizontal" id="groupSettingsForm" name="groupSettingsForm" ng-submit="save()">
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">Name</label>

        <div class="col-md-6">
            <input id="name" class="form-control" ng-model="group.name" required=""
                   ng-pattern="/^[\p{L}\p{N}\s_]{1,255}$/">
        </div>

        <label for="title" class="col-md-2 control-label">Title</label>

        <div class="col-md-6">
            <input id="title" class="form-control" ng-model="group.title" required=""
                   ng-pattern="/^[\p{L}\p{N}\s_]{1,255}$/">
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-default"
                    ng-disabled="updating || groupSettingsForm.$invalid">Submit
            </button>
        </div>
    </div>
</form>