<div class="control-panel">
    <div class="row">
        <form name="addUserForm" id="addUserForm" ng-submit="addUser(user.userName)">
            <div class="col-md-4">
                <auto-complete id="userName" name="userName" class="form-control" placeholder="User Name" type="text"
                               auto-complete-callback="searchUserCallback"
                               auto-complete-item-template="{{result.userName}}"
                               auto-complete-select="userName"
                               ng-model="user.userName"
                               ng-pattern="/^([\w\d-\.]*)?$/"
                               required></auto-complete>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" type="submit"
                        ng-disabled="adding || addUserForm.$invalid">
                    Add User
                </button>
            </div>
        </form>
        <div class="pull-right col-md-4">
            <input class="form-control" placeholder="Filter..." ng-model="searchText"
                   ng-model-options="{ debounce: 100 }">
        </div>
    </div>
</div>
<div class="entity-listing">
    <pre ng-show="users.length == 0">The {{group.title}} group doesn't have any members.</pre>
    <pre ng-show="users.length > 0">{{totalItems}} {{totalItems == 1 ? 'user' : 'users'}} in the {{group.title}} group</pre>
    <div class="row entity-row" ng-repeat="user in users">
        <div class="col-md-3">
            <div class="entity-title">
                <i class="fa fa-user"></i>
                <a href="/users/{{user.userName}}/settings">{{user.userName}}</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="entity-title">
                {{user.firstName}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="entity-title">
                {{user.lastName}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="entity-title">
                {{user.email}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <button class="btn btn-sm btn-danger" ng-click="remove(user.userName)" ng-disabled="deleting">Remove
                </button>
            </div>
        </div>
    </div>
    <div ng-show="numPages > 1">
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize"
                    class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                    ng-change="pageChanged()"/>
    </div>
</div>