<ol class="breadcrumb">
    <li>
        <a class="back" ui-sref="index.groups">
            <i class="fa fa-chevron-left"></i> Groups
        </a>
    </li>
    <li class="active">{{group.title}}</li>
</ol>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: isActive('index.group.settings')}">
                <a ui-sref="index.group.settings" title="Edit group's settings">
                    <i class="fa fa-gear"></i>
                    Settings
                </a>
            </li>
            <li ng-class="{active: isActive('index.group.users')}" ng-show="groupName">
                <a ui-sref="index.group.users" title="Manage group's users">
                    <i class="fa fa-user"></i>
                    Users
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9" ui-view></div>
</div>
