<ol class="breadcrumb">
    <li>
        <i class="fa fa-chevron-left"></i> Users
    </li>
</ol>
<div class="row entity-listing-header">
    <div class="col-md-3">
        Total users: <strong>{{totalItems}}</strong>
    </div>
    <div class="col-md-3 pull-right">
        <input class="form-control" placeholder="Filter Criteria..." ng-model="searchText"
               ng-model-options="{ debounce: 100 }">
    </div>
    <button class="btn btn-success pull-right" ng-click="create()"><i class="fa fa-plus"></i>
    </button>
</div>
<div class="entity-listing">
    <div class="row entity-row" ng-repeat="user in users">
        <div class="col-md-3">
            <div class="entity-title">
                <i class="fa fa-user"></i>
                <a href="/users/{{user.userName}}/settings">{{user.userName}}</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="entity-title">
                {{user.firstName}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="entity-title">
                {{user.lastName}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="entity-title">
                {{user.email}}
            </div>
        </div>
        <div class="col-md-2">
            <div class=" pull-right">
                <button class="btn btn-sm btn-danger" ng-click="remove(user.userName)"
                        ng-disabled="deleting">Remove
                </button>
            </div>
        </div>
    </div>
    <div ng-show="numPages > 1">
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize"
                    class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                    ng-change="pageChanged()"/>
    </div>
</div>
